
<section id="forms" style="margin-left: 5%;">
  <div class="row">
    <div class="col-md-4">
      <!-- <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>" style=" margin-bottom: 30px;"></a>
      -->
      <br>
      <form class="form-horizontal well" action="/password-reset" method="post" style="margin-top:20%;">
        <fieldset>
          <legend>MoodMatters Password Reset</legend>
          <div class="control-group" >
            <div class="col-md-8">
              <label class="control-label" for="textarea">Password</label> 
              <input type="password" class="form-control" name="password" placeholder="Password" required >
              <label class="control-label" for="textarea">Confirm Password</label>
              <input type="password" class="form-control" name="password_check"  placeholder="Confirm Password" required >
              <input type="hidden" class="form-control" name="token"  value="<%= @token %>" required >
              <hr>
              <div class="form-actions">
                <button type="submit" class="btn btn-success" >Submit</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
